<div class="main">
<div class="container">
<div class="row">
<div class="span8 offset2">
<div class="well center">
<div class="block">
<h1>感想ギルドとは？</h1>
<p>小説、マンガ、音楽、イラスト、ゲーム。</p>
<p>創作したら、感想を聞かせてほしい！</p>
<p>創作者だったら、そう思っていますよね？</p>
<p>でも、たいてい、感想はもらえません。</p>
<p>そんな人のために作った、ちょっとした仕組みです。</p>
</div>

<div class="block">
<p>作品リストから誰かの作品を選ぶ</p>
<i class="icon-arrow-down icon-4x"></i>
<p>選んだ作品の感想を書く</p>
<i class="icon-arrow-down icon-4x"></i>
<p>ポイントが1増える</p>
<i class="icon-arrow-down icon-4x"></i>
<p>ポイントが増えると自分の作品がリストに載る</p>
<i class="icon-arrow-down icon-4x"></i>
<p>誰かがあなたの作品の感想を書く</p>
<i class="icon-arrow-down icon-4x"></i>
<p>感想が届くとポイントが1減る</p>
</div><!--block-->


<div class="block">
<p>こんなサイクルが続きます。</p>
<p>Twitterアカウントでログインできます。</p>
</div>

<div class="block">
	<div class="flat-button">
		<i class="icon-twitter"></i> Twitterでログインする
	</div>
</div>

</div>
</div>
</div>
</div>
</div>