<div class="block">
<h1>感想ギルドとは？</h1>
<p>小説、マンガ、音楽、イラスト、ゲーム。</p>
<p>創作したら、感想を聞かせてほしい！</p>
<p>創作者だったら、そう思っていますよね？</p>
<p>でも、たいてい、感想はもらえません。</p>
<p>感想ギルドは、感想をもらえない創作者のために作った、ちょっとした仕組みです。</p>
<p>誰かの作品の感想を書くと、あなたの作品の感想が書かれやすくなる。</p>
<p>それが基本のアイディアです。</p>
</div>

<div class="block">
<p>ステージ上にいる人は、感想を募集している</p>
<i class="icon-arrow-down icon-4x"></i>
<p>ステージ上の人の作品の感想を書くと、その人はステージから降り、あなたがステージに昇る。</p>
<i class="icon-arrow-down icon-4x"></i>
<p>ステージ上のあなたの作品の感想を、誰かが書く</p>
<i class="icon-arrow-down icon-4x"></i>
<p>感想があなたに届くと、あなたはステージから降りる。</p>
<i class="icon-arrow-down icon-4x"></i>
<p>まだ感想が欲しいので、誰かの作品の感想を書く</p>
</div><!--block-->


<div class="block">
<p>こんなサイクルが続きます。</p>
</div>

<div class="block">
	<div class="flat-button">
	<%= link_to user_omniauth_authorize_path(:twitter) do %>
		<i class="icon-twitter"></i> Twitterでログインする
	<% end %>
	</div>
</div>
<div class="block">	
	<div class="flat-button-success">
	<%= link_to new_user_registration_path do %>
	<i class="icon-check"></i> メールアドレスでログインする
	<% end %>
	</div>
</div>